    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{title}}</title>
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico" />
    <link id="bootswatch-theme" rel="stylesheet" href="/static/css/themes/vapor.min.css" />
    <script nonce="{{csp_nonce}}">
    (function(){var m=document.cookie.match(/(?:^|;\s*)bm-selected-theme=([^;]+)/);if(m){var t=decodeURIComponent(m[1]),a=['cerulean','cosmo','cyborg','darkly','flatly','journal','litera','lumen','lux','materia','minty','morph','pulse','quartz','sandstone','simplex','sketchy','slate','solar','spacelab','superhero','united','vapor','yeti','zephyr'];if(a.indexOf(t)>=0)document.getElementById('bootswatch-theme').href='/static/css/themes/'+encodeURIComponent(t)+'.min.css';}})();
    </script>
    <link rel="stylesheet" href="/static/css/site.css" />
