    <footer class="bg-dark text-white py-2 fixed-bottom bm-footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 small">
                    <p class="mb-0">&copy;{{CopyrightYear}} - {{CompanyDescription}}, All rights reserved. {{footer_user}}<span id="tz-info" class="ms-2"></span></p>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="/static/js/timezone.js" nonce="{{csp_nonce}}"></script>
    <script src="/static/js/image-preview.js" nonce="{{csp_nonce}}"></script>
