    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{title}}</title>
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico" />
    <link rel="preload" href="/static/css/themes/base.min.css" as="style" />
    <link rel="preload" href="/static/css/site.css" as="style" />
    <link rel="preload" href="{{theme_css_url}}" as="style" />
    <link rel="preload" href="/static/js/vnext-bundle.js" as="script" />
    <link rel="stylesheet" href="/static/css/themes/base.min.css" />
    <link rel="stylesheet" href="/static/css/site.css" />
    <link id="bm-theme" rel="stylesheet" href="{{theme_css_url}}" />
    <link rel="stylesheet" href="/static/css/bmw.css" />
