    <footer class="bg-dark text-white py-2 fixed-bottom bm-footer">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-md-6 small">
                    <p class="mb-0">&copy;{{CopyrightYear}} - {{CompanyDescription}}, All rights reserved. {{footer_user}}<span id="tz-info" class="ms-2"></span></p>
                </div>
                <div class="col-md-6">
                    <form class="bm-theme-switcher" aria-label="Theme selector">
                        <input type="radio" name="bm-theme" id="theme-darkly" value="darkly">
                        <label for="theme-darkly">Darkly</label>
                        <input type="radio" name="bm-theme" id="theme-cyborg" value="cyborg">
                        <label for="theme-cyborg">Cyborg</label>
                        <input type="radio" name="bm-theme" id="theme-slate" value="slate">
                        <label for="theme-slate">Slate</label>
                        <input type="radio" name="bm-theme" id="theme-superhero" value="superhero">
                        <label for="theme-superhero">Superhero</label>
                        <input type="radio" name="bm-theme" id="theme-flatly" value="flatly">
                        <label for="theme-flatly">Flatly</label>
                        <input type="radio" name="bm-theme" id="theme-lux" value="lux">
                        <label for="theme-lux">Lux</label>
                        <input type="radio" name="bm-theme" id="theme-contrast" value="contrast">
                        <label for="theme-contrast">HC</label>
                        <input type="radio" name="bm-theme" id="theme-muted" value="muted">
                        <label for="theme-muted">Muted</label>
                    </form>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="/static/js/theme-switcher.js" nonce="{{csp_nonce}}"></script>
    <script src="/static/js/timezone.js" nonce="{{csp_nonce}}"></script>
    <script src="/static/js/image-preview.js" nonce="{{csp_nonce}}"></script>
